body {
  margin: auto;
  color: #2D3748;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* PREFERED PROPERTY VALUE*******************************/
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* UTILITIES *******************************/
.flex {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

/**** PROPERTIES AND VALUE REPEATED SEVERALY ***************/
a:hover,
li:hover {
  transform: scale(1.1);
}

.card,
.navbar,
.posterInfo,
.creatNewpost,
.author-input,
.postedImgCon,
.main-container,
.postNameTimeCon {
  width: 100%;
}

li,
.label,
fieldset,
#appName,
.postText,
.poster-name,
.postControl,
.author-input {
  font-weight: bold;
}

nav ul,
.navbar,
#appName,
.postTime,
.postText,
.postRating,
.poster-name,
.postControl,
.postedImgCon,
.postNameTimeCon,
.postRateControl {
  margin: 0;
}

.navbar,
.postText,
.postRating,
.posterInfo,
.main-container,
.postRateControl {
  height: auto;
}

#appName,
.postTime,
.postRating,
.postControl,
.poster-name,
.postedImgCon,
.postNameTimeCon,
.postRateControl {
  padding: 0;
}

/* navbar container style.........*/
.navbar {
  top: 0;
  z-index: 1;
  padding: 0.5%;
  position: fixed;
  background-color: #fff;
  text-transform: capitalize;
}

#appName {
  color: blue;
  font-size: 20PT;
}

nav {
  width: 50%;
  text-transform: capitalize;
}

nav ul {
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
}

li {
  width: auto;
  padding: 0 2%;
}

li:hover,
li:active {
  color: blue;
  background-color: #f5f5f5;
}

/* the main Content Container style.....bellow..*/
.main-container {
  margin: 20px 0;
  position: static;
  padding-top: 40px;
}

/* news field container*/
.newsField,
.requestPage,
.groupPage,
.notificationPage,
.profilePage,
.menuPage{
  padding: 1% 0;
  margin-top: 30px;
}

/* creat new post ......*/
.creatNewpost {
  padding: 0.5% 1%;
}

.authorAvatar {
  width: 70px;
  height: 70px;
  margin-left: 2%;
  border-radius: 50%;
  background-color: #4A5568;
}

.authorInput {
  width: 90%;
  height: 30px;
}

.author-input {
  height: 100%;
  outline: none;
  padding: 1% 5%;
  font-size: 14pt;
  border-radius: 25px;
}

/*  post field*/
.postField {
  gap: 5px;
  padding: 1%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  margin: 2% 1% 0;
  padding: 0.5% 2% 2%;
  max-width: 500px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.posterAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4A5568;
}

.postNameTimeCon {
  padding: 0 2%;
}

.poster-name {
  width: 60%;
  font-size: 18pt;
}

.postTime {
  font-size: 10pt;
  font-style: italic;
}

.postControl {
  width: auto;
  border: none;
  outline: none;
  font-size: 16pt;
  background-color: inherit;
}

.postMenu {
  width: 100%;
  background-color: #fff;
  top: 15%;
  padding: 1%;
  font-size: 1rem;
  height: auto;
}

.postMenu h3 {
  margin-bottom: 0;
  padding: 0;
}

.postMenu p {
  margin-top: 0;
  padding: 0;
  font-size: 0.8rem;
}

.postMenu li:hover {
  transform: scaleY(0.9);
  background-color: #f4f4f8;
}

.postText {
  padding: 1% 3%;
}

.postedImgCon {
  height: 300px;
}

.postRateControl button {
  background-color: inherit;
  border-radius: 5px;
  outline: none;
  width: 80px;
  padding: 1%;
}

.postControl:hover,
.postRateControl button:hover {
  transform: scale(1.1);
}

.postRateControl button:active {
  background-color: #7fffff;
}

/* messages section*/
.message {
  padding: 12px;
  max-width: 400px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: snow;
  border-top: solid 2px #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.label {
  width: 6rem;
  font-size: 1rem;
}

.value {
  color: #4A5568;
}

.content .value {
  width: 90%;
  font-style: italic;
}


fieldset input {
  margin: 10px;
  font-size: 14;
  font-weight: 700;
}

/* On smaller screens, decrease text size*/
@media only screen and (max-width: 570px) {
  .navbar {
    padding: 1%;
    display: block;
  }

  #appName,
  nav {
    padding: 0;
    width: 100%;
  }

  .newsField,
  .requestPage,
  .groupPage,
  .notificationPage,
  .profilePage,
  .menuPage {
    padding: 1% 0;
    margin-top: 60px;
  }

  .postField {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    width: 98.55%;
  }
}